* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #2d2926;
}

html,
body {
  height: 100vh;
}

body {
  overflow-x: hidden;
}

.font-dark-blue {
  color: #002856;
}

.font-black {
  color: #060001;
}

.font-gray {
  color: #f7f7f7;
}

.font-blue {
  color: #006ae3;
}

.bg-dark {
  background-color: #2d2926;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-200 {
  font-weight: 200;
}

.height-100vh {
  height: 100vh;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.container {
  box-sizing: border-box;
  padding: 3rem 4rem;
}

.home {
  padding-left: 4rem;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.text-box {
  height: calc(100% - 67px);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-box {
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  background-size: contain;
  right: -180px;
  position: absolute;
  height: 27rem;
}

.name {
  font-size: 7.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600;
  text-transform: capitalize;
}

.type-label {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
}

.type {
  font-size: 2.7rem;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 1;
}

.identifier {
  font-size: 3.3rem;
  color: #2d2926;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.section-title {
  text-align: center;
  font-weight: 500;
  font-size: 2.8rem;
  margin-bottom: 3rem;
  line-height: 1;
}

.container-evolution {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.large-card {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  width: 18rem;
  border-radius: 2rem;
  margin: 0 1.25rem;
}

.content-cards {
  width: 100%;
}

.card-img-box {
  background-color: #51d4d93f;
  padding: 3rem 0;
  border-radius: 2rem 2rem 0 0;
  display: flex;
}

.card-img-box img {
  height: 9rem;
  margin: 0 auto;
  justify-content: center;
}

.card-body {
  padding: 1rem 3rem 3rem;
}

.card-data-box p {
  margin: 0;
}

.card-data-box .label {
  font-weight: 300;
  font-size: 0.9rem;
}

.card-text {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 300;
}

.content-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.small-card {
  background-color: #002856;
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
  width: 20rem;
  margin: 0 0.5rem 1rem 0;
}

.small-card-img-box {
  margin-right: 1rem;
}

.small-card-img-box img {
  width: 5rem;
}

.small-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 639px) {
  .home {
    padding: 0 2rem;
    flex-direction: column;
    align-items: inherit;
  }

  .text-box {
    width: 100%;
    text-align: center;
  }

  .name {
    font-size: 3rem;
  }

  .identifier {
    position: relative;
    margin-top: 2rem;
    font-size: 2rem;
  }

  .img-box {
    background-position: center;
    width: auto;
    position: relative;
    right: auto;
    margin-bottom: 1.5rem;
  }

  .large-card {
    width: 100%;
    margin: 1.25rem 0;
  }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
  .home {
    padding: 0 2rem;
    flex-direction: column;
    align-items: inherit;
  }

  .text-box {
    width: 100%;
    text-align: center;
  }

  .identifier {
    position: relative;
    margin-top: 2rem;
  }

  .img-box {
    background-position: center;
    width: auto;
    position: relative;
    right: auto;
    margin-bottom: 2.5rem;
  }

  .content-cards {
    width: auto;
  }

  .large-card {
    margin: 0 1.25rem 1rem;
    width: 11rem;
  }

  .card-img-box {
    padding: 1.5rem 0;
  }
  .card-img-box img {
    height: 5rem;
  }
}
